mixin button(data)
	- size = data.size || 'normal';
	- theme = data.theme || 'primary';
	- type = data.type || 'button';
	- text = data.text || ''
	- ariaLabel = data.ariaLabel;

	button(class=`btn btn--${size} btn--${theme}` aria-label=ariaLabel type=type)&attributes(attributes)= text
		block