mixin header
	header.header
		.header__wrap
			.section_in
				nav.nav
					.nav__tags
						p.nav__descr Tags:
						+button({
							size: 'small',
							text: 'Tags',
							ariaLabel: 'View tags'
						})(class='nav__btn')
						+menu({
							gl_class: 'nav',
							items: [
								{
								'url' : '#',
								'title' : 'bitcoin'
								},
								{
								'url' : '#',
								'title' : 'bittorent'
								},
								{
								'url' : '#',
								'title' : 'irc'
								},
								{
								'url' : '#',
								'title' : 'news'
								},
								{
								'url' : '#',
								'title' : 'privacy'
								},
								{
								'url' : '#',
								'title' : 'programming'
								},
								{
								'url' : '#',
								'title' : 'security'
								}]
						})
						+ico_svg({
							icon: 'M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z'
						})(class='nav__close')
					.nav__contact
						+menu({
							gl_class: 'nav',
							items: [
								{
								'url' : '#',
								'title' : 'team'
								},
								{
								'url' : '#',
								'title' : 'contact'
								}]
						})
					
						
