mixin info_block(params)
	- title = params.title;
	
	- list = params.list;
	- icon = params.icon;

	.info_block
		.info_block__title
			.info_block__icon
				+icon(icon)
			h3.info_block__title_text #{title}
		+list(params)

				
				
