mixin info_block(data)
	- title = data.title;	
	- list = data.list;
	- ico = data.ico;

	.info_block
		.info_block__title
			.info_block__icon
				+icon(ico)
			h3.info_block__title_text= title
		+list(data)

				
				
