.btn {
	display: block;
	box-sizing: border-box;
	background: 0 0;
	border: none;
	text-align: center;
	cursor: pointer;
	outline: 0;
	text-transform: uppercase;
	transition: opacity, .25s ease;
}

.btn--normal {
	padding: .75rem;
	min-width: 260px;
}
.btn--small {
	padding: .5rem;
	min-width: 50px;
}
.btn--primary {
	font-family: $font_1;
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 500;
	border: 1px solid $color_link_base;
	color: $color_link_base;
	border-radius: 1.87rem;
}
.btn:focus,
.btn:hover {
	border: 2px solid $color_text_light;
}
.btn:active {
	border: 1px solid $color_text_light;
	opacity: .8;
}
