.posts {
	width: 50rem;
}
.posts__title {
  font-weight: 300;
  font-size: 2rem;
	line-height: 2.6rem;
	letter-spacing: -1px;
	color: $color-text-base;

  @include bp($point_2, min) {
    // margin-bottom: 2.5rem;
  }

  @include bp($point_1, min) {
    // margin-bottom: 4rem;
    // font-size: 3.2rem;
  }
}
.posts__list {
	padding-right: 2.75rem;
}
.posts__item {
	padding-top: 2.4rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid $color_devider_base;
}
.posts__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
}