.post {
	@extend %global_flex_block_row_nowrap_flex-start;

	@include tablet_width {
		flex-wrap: wrap;
	}
}
.post__descr {
	flex-basis: 62%;
	max-width: 62%;
	
	@include tablet_width {
		flex-basis: 100%;
		max-width: 100%;
	}
	@include mobile_width {
	
	}
}
.post__link {
	display: block;
	flex-basis: 38%;
	max-width: 38%;
	margin-right: 2rem;

	@include tablet_width {
		margin: 0 auto 1.5rem;
		flex-basis: 60%;
		max-width: 60%;
	}
	@include mobile_width {
		align-self: center;	
	}
}
.post__title {
	@include word-break;	
  width: 100%;
  margin-bottom: .7rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: $color-text-base;
  transition: opacity, .25s ease;

  &:hover,
	&:focus  {
    color: $color_link_base;
  }

  &:active {
    opacity: 1;
  }  
}
.post__info {
	display: flex;
	font-size: 1rem;
	margin-bottom: .7rem;
}
.post__author {
	font-size: 1rem;
	margin-right: 5px;
	color: $color-text-base;
}
.post__date {
	font-size: 1rem;
	padding: 0 5px;
	border-left: 1px solid $color_text_light;
	color: $color_text_light;
}
.post__count {
	padding-right: 0.3rem;
}
.post__commit {
	display: flex;
	color: $color_text_light;
}
.post__icon {
	width: 1rem;
	height: 1rem;
}