.post {
	@extend %global_flex_block_row_nowrap_flex-start;

	@include tablet_width {
		flex-direction: column;
	}
	@include mobile_width {
		
	}
}
.post__descr {
	padding-left: 2rem;

	@include tablet_width {
		padding: 2rem 0;
	}
	@include mobile_width {
	
	}
}
.post__link {
	@include mobile_width {
		align-self: center;	
	}
}
.post__title {
	@include word-break;	
  width: 100%;
  margin-bottom: .7rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: $color-text-base;
  transition: opacity, .25s ease;

  &:hover,
	&:focus  {
    color: $color_link_base;
  }

  &:active {
    opacity: 1;
  }  
}
.post__info {
	display: flex;
	font-size: 1rem;
	margin-bottom: .7rem;
}
.post__author {
	font-size: 1rem;
	margin-right: 5px;
	color: $color-text-base;
}
.post__date {
	font-size: 1rem;
	padding: 0 5px;
	border-left: 1px solid $color_text_light;
	color: $color_text_light;
}
.post__commit {
	color: $color_text_light;
}
// .post__icon {
// 	width: 13px;
// 	height: 12px;
// }