.form_input__label {
	@extend %form_el_label;
}

.form_input__element {
	@extend %form_el_default;

	&::before {
		content: "";
    position: absolute;
    top: 1px;
    left: 1.2rem;
    width: 1rem;
    height: 1rem;
    background-image: url('../images/icons/sprite_icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
	}
}