extends ../layout/_layout
 
block vars
	- array = {body_class:'page', layout_mod:'', sub_keywords:'', title_inner:'Test'}

block content_block
	h1.visually-hidden Blogs
	section.section
		.section_in.main__wrap
			.posts
				h2.posts__title Recent posts
				ul.posts__list
					li.posts__item
						+post_card({
							picture : {
								img: `post-1`
							},
							title : 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
							
							author : 'Derek Zimmer',
							date : 'JUL 25, 2018',
							tags : [ 
								{
									link: 'Governments', 
									href: '#'
								},{
									link: 'Networking', 
									href: '#'
								},{
									link: 'Open Source',
									href: '#'
								},{
									link: 'Privacy', 
									href: '#'
								},{
									link: 'Security',
									href: '#'
								}
							],
							commit : '#',
							count: '0',
							ico : {name : 'mess', mod : ''}
						})
					li.posts__item
						+post_card({
							picture : {
								img: `post-2`
							},
							title : 'How to get cheaper flights using a VPN',
							
							author : 'Jayson',
							date : 'JUL 24, 2018',
							tags : [ 
								{
									'link': 'Guides', 
									'href': '#'
								}
							],
							commit : '#',
							count: '0',
							ico: {name : 'mess', mod : ''}
						})
					li.posts__item
						+post_card({
							picture : {
								img: `post-3`
							},
							title : 'Net Neutrality was repealed, but the fight is far from over',
							
							author : 'Chris Miller',
							date : 'JUL 22, 2018',
							tags : [ 
								{
									'link': 'Governments', 
									'href': '#'
								},{
									'link': 'Net neutrality', 
									'href': '#'
								},{
									'link': 'New',
									'href': '#'
								}
							],
							commit : '#',
							count: '0',
							ico : {name : 'mess', mod : ''}
						})
					li.posts__item
						+post_card({
							picture : {
								img: `post-1`
							},
							title : 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
							
							author : 'Derek Zimmer',
							date : 'JUL 25, 2018',
							tags : [ 
								{
									'link': 'Governments', 
									'href': '#'
								},{
									'link': 'Networking', 
									'href': '#'
								},{
									'link': 'Open Source',
									'href': '#'
								},{
									'link': 'Privacy', 
									'href': '#'
								},{
									'link': 'Security',
									'href': '#'
								}
							],
							commit : '#',
							count: '0',
							ico : {name: 'mess', mod : ''}
						})
					li.posts__item
						+post_card({
							picture : {
								img: `post-2`
							},
							title : 'How to get cheaper flights using a VPN',
							
							author : 'Jayson',
							date : 'JUL 24, 2018',
							tags : [ 
								{
									'link': 'Guides', 
									'href': '#'
								}
							],
							commit : '#',
							count: '0',
							ico : {name : 'mess', mod : ''}
						})
					li.posts__item
						+post_card({
							picture : {
								img: `post-3`
							},
							title : 'Net Neutrality was repealed, but the fight is far from over',
							
							author : 'Chris Miller',
							date : 'JUL 22, 2018',
							tags : [ 
								{
									'link': 'Governments', 
									'href': '#'
								},{
									'link': 'Net neutrality', 
									'href': '#'
								},{
									'link': 'New',
									'href': '#'
								}
							],
							commit : '#',
							count: '0',
							ico : {name : 'mess', mod : ''}
						})
				.posts__btn
					+button({
						'text': 'older posts',
						'ariaLabel': 'views old posts'
					})
			aside.info
					h2.visually-hidden Information
					+form_input({				
						blockClass: 'form_search',
						label : true,
						labelClass : 'visually-hidden',
						labelText : 'search info',
						inputType: 'search',
						elClass: 'form_search__input',
						id : 'form_search',
						name : 'search_input',
						placeholder: 'Search blog'
					})
					.info__block 			
						+info_block({
							title: 'Announcements',
							ico: {name : 'shape', mod: ''},
							list_mod: 'info', 
							listArr : [{
								'link' : 'Upcoming Changes (Live Chat, Less Censorship, More Access)',
							},{
								'link' : 'New Servers (US Washington DC)',
							},{
								'link' : 'New Servers (US Denver)',
							},{
								'link' : 'Open Source: Releasing the PIA iOS Client',
							},{
								'link' : 'Opera Extension is now available',
							}]				
						})
						+info_block({
							title: 'Popular posts',
							ico: {name: 'wi-fi', mod : ''},
							list_mod: 'info', 
							listArr: [
								{
									'link' : 'The Gift of Privacy',
								},{
									'link' : 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture',
								},{
									'link' : 'About the PIA Client Security and VPN Security in General',
									
								},{
									'link' : 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech',
								},{
									'link' : 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie',
								}
							]						
						})
					.advert
						.advert__img
							+picture({
								img: `aside`
							})
						.advert__cloud.tag_cloud
							h2.tag_cloud__title Tag cloud				
							+tagcloud([
								{
									
									rel: '0.1',
									tagcloud: 'mass'
								},{
									
									rel: '0.1',
									tagcloud: 'surveillance'
								},{
									
									rel: '0.1',
									tagcloud: 'internet'
								},{
									
									rel: '0.1',
									tagcloud: 'privacy'
								},{
									
									rel: '4',
									tagcloud: 'china'
								},{
									
									rel: '0.2',
									tagcloud: 'whatsapp'
								},{
									
									rel: '0.2',
									tagcloud: 'police'
								},{
									
									rel: '0.2',
									tagcloud: 'dna'
								},{
									
									rel: '2',
									tagcloud: 'nsa'
								},{
									
									rel: '1',
									tagcloud: 'russia'
								},{
									
									rel: '0.1',
									tagcloud: 'gchq'
								},{
									
									rel: '1',
									tagcloud: 'internet'
								},{
									
									rel: '1',
									tagcloud: 'censorship'
								},{
									
									rel: '1',
									tagcloud: 'facial'
								},{
									
									rel: '1',
									tagcloud: 'recognition'
								},{
									
									rel: '2',
									tagcloud: 'isp'
								},{
									
									rel: '0.1',
									tagcloud: 'Apple'
								},{
									
									rel: '4',
									tagcloud: 'united'
								},{
									
									rel: '4',
									tagcloud: 'kingdom'
								},{
									
									rel: '0.1',
									tagcloud: 'amazon'
								},{
									
									rel: '0.2',
									tagcloud: 'metadata'	
								},{
									
									rel: '0.1',
									tagcloud: 'turkey'	
								},{
									
									rel: '3',
									tagcloud: 'vpn'
								},{
									
									rel: '0.1',
									tagcloud: 'tracking'
								},{
									
									rel: '0.1',
									tagcloud: 'broadband'
								},{
									
									rel: '0.1',
									tagcloud: 'privacy'
								},{
									
									rel: '2',
									tagcloud: 'canada'	
								},{
									
									rel: '3',
									tagcloud: 'encryption'
								},{
									
									rel: '0.5',
									tagcloud: 'twitter'
								},{
									
									rel: '0.5',
									tagcloud: 'uk'
								},{
									
									rel: '4',
									tagcloud: 'surveillance'
								},{
									
									rel: '4',
									tagcloud: 'EU'
								},{
									
									rel: '4',
									tagcloud: 'Facebook'
								},{
									
									rel: '0.1',
									tagcloud: 'india'
								},{
									
									rel: '0.2',
									tagcloud: 'freedom of expression'
								},{
									
									rel: '1',
									tagcloud: 'ajit pai bitcoin'
								},{
									
									rel: '0.1',
									tagcloud: 'internet'
								},{
									
									rel: '0.1',
									tagcloud: 'history'
								},{
									
									rel: '0.1',
									tagcloud: 'gdpr'
								},{
									
									rel: '0.2',
									tagcloud: 'microsoft'
								},{
									
									rel: '6',
									tagcloud: 'fcc'
								},{
									
									rel: '3',
									tagcloud: 'censorship'
								},{
									
									rel: '1',
									tagcloud: 'germany'
								},{
									
									rel: '0.1',
									tagcloud: 'file sharing'
								},{
									
									rel: '5',
									tagcloud: 'privacy'
								},{
									
									rel: '3',
									tagcloud: 'copyright'
								},{
									
									rel: '0.1',
									tagcloud: 'anonymity'
								},{
									
									rel: '0.1',
									tagcloud: 'internet of things'
								},{
									
									rel: '4',
									tagcloud: 'google'
								},{
									
									rel: '1',
									tagcloud: 'australia net'
								},{
									
									rel: '1',
									tagcloud: 'neutrality'
								}
							])
