extends ../layout/_layout
 
block vars
	- array = {body_class:'page', layout_mod:'', sub_keywords:'', title_inner:'Test'}
block content_block
	h1.visually-hidden Blogs
	.section_in.main__wrap
		section.posts
			h2.posts__title Recent posts
			ul.posts__list
				li.posts__item
					+post_card({
						picture : {
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: true,
							contain: true,
							class: false,
							img: `post-1`,
							img_mob: `post-1`
						},
						title : 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
						href : '#',
						author : 'Derek Zimmer',
						date : 'JUL 25, 2018',
						tags : [ 
							{
								'link': 'Governments', 
								'href': '#'
							},{
								'link': 'Networking', 
								'href': '#'
							},{
								'link': 'Open Source',
								'href': '#'
							},{
								'link': 'Privacy', 
								'href': '#'
							},{
								'link': 'Security',
								'href': '#'
							}
						],
						commit : '#',
						count: '0',
						ico: {
							'icon': 'M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z'}
					})
				li.posts__item
					+post_card({
						picture : {
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: true,
							contain: true,
							class: false,
							img: `post-2`,
							img_mob: `post-2`
						},
						title : 'How to get cheaper flights using a VPN',
						href : '#',
						author : 'Jayson',
						date : 'JUL 24, 2018',
						tags : [ 
							{
								'link': 'Guides', 
								'href': '#'
							}
						],
						commit : '#',
						count: '0',
						ico: {
							'icon': 'M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z'}
					})
				li.posts__item
					+post_card({
						picture : {
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: true,
							contain: true,
							class: false,
							img: `post-3`,
							img_mob: `post-3`
						},
						title : 'Net Neutrality was repealed, but the fight is far from over',
						href : '#',
						author : 'Chris Miller',
						date : 'JUL 22, 2018',
						tags : [ 
							{
								'link': 'Governments', 
								'href': '#'
							},{
								'link': 'Net neutrality', 
								'href': '#'
							},{
								'link': 'New',
								'href': '#'
							}
						],
						commit : '#',
						count: '0',
						ico: {
							'icon': 'M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z'}
					})
				li.posts__item
					+post_card({
						picture : {
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: true,
							contain: true,
							class: false,
							img: `post-1`,
							img_mob: `post-1`
						},
						title : 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
						href : '#',
						author : 'Derek Zimmer',
						date : 'JUL 25, 2018',
						tags : [ 
							{
								'link': 'Governments', 
								'href': '#'
							},{
								'link': 'Networking', 
								'href': '#'
							},{
								'link': 'Open Source',
								'href': '#'
							},{
								'link': 'Privacy', 
								'href': '#'
							},{
								'link': 'Security',
								'href': '#'
							}
						],
						commit : '#',
						count: '0',
						ico: {
							'icon': 'M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z'}
					})
				li.posts__item
					+post_card({
						picture : {
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: true,
							contain: true,
							class: false,
							img: `post-2`,
							img_mob: `post-2`
						},
						title : 'How to get cheaper flights using a VPN',
						href : '#',
						author : 'Jayson',
						date : 'JUL 24, 2018',
						tags : [ 
							{
								'link': 'Guides', 
								'href': '#'
							}
						],
						commit : '#',
						count: '0',
						ico: {
							'icon': 'M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z'}
					})
				li.posts__item
					+post_card({
						picture : {
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: true,
							contain: true,
							class: false,
							img: `post-3`,
							img_mob: `post-3`
						},
						title : 'Net Neutrality was repealed, but the fight is far from over',
						href : '#',
						author : 'Chris Miller',
						date : 'JUL 22, 2018',
						tags : [ 
							{
								'link': 'Governments', 
								'href': '#'
							},{
								'link': 'Net neutrality', 
								'href': '#'
							},{
								'link': 'New',
								'href': '#'
							}
						],
						commit : '#',
						count: '0',
						ico: {
							'icon': 'M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z'}
					})
			.posts__btn
				+button({
					'text': 'older posts',
					'ariaLabel': 'views old posts'
				})
		+form_input({				
			blockClass: 'form_search',
			label : true,
			labelClass : 'visually-hidden',
			labelText : 'search info',
			inputType: 'search',
			elClass: 'form_search__input',
			id : 'form_search',
			value : 'Search blog',
			name : 'search_input'
		})
			+icon({name: 'search', mod : ''})
		section.info
			h2.visually-hidden Information
			.info__block 			
				+info_block({
					title: 'Announcements',
					icon: {name : 'shape', mod: ''},
					list_mod: 'info', 
					listArr : [{
						'link' : 'Upcoming Changes (Live Chat, Less Censorship, More Access)',
						'href' : '#'
					},{
						'link' : 'New Servers (US Washington DC)',
						'href' : '#'
					},{
						'link' : 'New Servers (US Denver)',
						'href' : '#'
					},{
						'link' : 'Open Source: Releasing the PIA iOS Client',
						'href' : '#'
					},{
						'link' : 'Opera Extension is now available',
						'href' : '#'
					}]				
				})
				+info_block({
					title: 'Popular posts',
					icon: {name: 'wi-fi', mod : ''},
					list_mod: 'info', 
					listArr: [
						{
							'link' : 'The Gift of Privacy',
							'href' : '#'
						},{
							'link' : 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture',
							'href' : '#'
						},{
							'link' : 'About the PIA Client Security and VPN Security in General',
							'href' : '#'
						},{
							'link' : 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech',
							'href' : '#'
						},{
							'link' : 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie',
							'href' : '#'
						}
					]						
				})
			aside.advert
				.advert__img
					+picture({
						typeJpeg: false,
						png: false,
						media: 1024,
						is2x: true,
						contain: true,
						class: false,
						img: `aside`,
						img_mob: `aside`
					})
			section.tag_cloud
				h2.tag_cloud__title Tag cloud				
				+tagcloud([
					{
						href: '#',
						rel: '1',
						tagcloud: 'mass'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'surveillance'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'internet'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'privacy'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'china'
					},{
						href: '#',
						rel: '0.2',
						tagcloud: 'whatsapp'
					},{
						href: '#',
						rel: '0.2',
						tagcloud: 'police'
					},{
						href: '#',
						rel: '0.2',
						tagcloud: 'dna'
					},{
						href: '#',
						rel: '2',
						tagcloud: 'nsa'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'russia'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'gchq'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'internet'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'censorship'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'facial'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'recognition'
					},{
						href: '#',
						rel: '2',
						tagcloud: 'isp'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'Apple'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'united'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'kingdom'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'amazon'
					},{
						href: '#',
						rel: '0.2',
						tagcloud: 'metadata'	
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'turkey'	
					},{
						href: '#',
						rel: '3',
						tagcloud: 'vpn'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'tracking'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'broadband'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'privacy'
					},{
						href: '#',
						rel: '2',
						tagcloud: 'canada'	
					},{
						href: '#',
						rel: '3',
						tagcloud: 'encryption'
					},{
						href: '#',
						rel: '0.5',
						tagcloud: 'twitter'
					},{
						href: '#',
						rel: '0.5',
						tagcloud: 'uk'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'surveillance'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'EU'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'Facebook'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'india'
					},{
						href: '#',
						rel: '0.2',
						tagcloud: 'freedom of expression'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'ajit pai bitcoin'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'internet'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'history'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'gdpr'
					},{
						href: '#',
						rel: '0.2',
						tagcloud: 'microsoft'
					},{
						href: '#',
						rel: '6',
						tagcloud: 'fcc'
					},{
						href: '#',
						rel: '3',
						tagcloud: 'censorship'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'germany'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'file sharing'
					},{
						href: '#',
						rel: '5',
						tagcloud: 'privacy'
					},{
						href: '#',
						rel: '3',
						tagcloud: 'copyright'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'anonymity'
					},{
						href: '#',
						rel: '0.1',
						tagcloud: 'internet of things'
					},{
						href: '#',
						rel: '4',
						tagcloud: 'google'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'australia net'
					},{
						href: '#',
						rel: '1',
						tagcloud: 'neutrality'
					}
				])