//------------------------------------------------------------layout
.header {
	max-width: $page_width;
	min-width: $min_width;
	width: 100%;
	margin: 0 auto;
	font-size: 0.8rem;
	will-change: transform;
	text-transform: uppercase;
	@include z-index(header);
}
.header__wrap {
	margin: 2.4rem 0;
}

//------------------------------------------------------------layout###