//------------------------------------------------------------layout
.header {
	font-size: 0.87rem;
	will-change: transform;
	text-transform: uppercase;
	@include z-index(header);
}
.header__wrap {
	margin: 2.6rem 0;
}

//------------------------------------------------------------layout###